<div class="container">
    <div class="grid mt-3">

        <!-- Left Page -->
        <div class="lg:col-4 col-12">
            <div class="card border-none mt-3">
                <div class="container">
                    <div class="grid">
                        <div class="col-12 mt-4">
                            <div class="text-center">
                                <img src={{fileLink}}{{fileId}} class="w-8rem h-8rem border-circle mb-3"
                                    style="object-fit: cover" alt="img">
                            </div>
                            <div class="mt-3 text-center">
                                <p class="font-semibold">{{ fullname }}</p>
                                <p class="text-xs -mt-2">{{ email }}</p>
                                <p class="text-sm -mt-2">{{ position }} <span>at</span> {{ company }}</p>
                            </div>
                        </div>

                        <!-- Action -->
                        <div class="col-12 flex gap-3 text-center justify-content-center">
                            <button pButton type="button" class="py-2 px-4" (click)="clickEditProfile()"
                                label="Edit Profile"></button>
                            <button pButton type="button" class="py-2 px-4" (click)="clickChangePassword()"
                                label="Change Password"></button>
                        </div>

                        <!-- Income -->
                        <div class="col-12 bg-green-100 mt-3 mb-1">
                            <div class="grid justify-content-center">
                                <div class="col-12 text-center">
                                    <i class="pi pi-wallet mr-1"></i><span class="text-sm font-semi-bold">Total
                                        Income</span>
                                </div>
                                <div class="col-12 text-center -mt-3">
                                    <span class="font-bold ">IDR {{ totalIncome }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Page -->
        <div class="lg:col-8 col-12">
            <!-- My Activity -->
            <div class="card border-none mt-3 mb-3">
                <div class="container p-0">
                    <div class="grid mx-3">
                        <div class="col-12 mt-4">
                            <span class="text-xl font-semibold">My Activity</span>
                        </div>
                        <div class="col-12">
                            <span class="text-sm font-medium">Total Course : {{ totalCourse }}</span>
                        </div>
                        <div class="col-12 -mt-3">
                            <span class="text-sm font-medium">Total Event : {{ totalEvent }}</span>
                        </div>
                    </div>
                    <div class="col-12 text-center border-top-1 border-100 cursor-pointer hover:bg-blue-50"
                        routerLink="/my-activity">
                        <span class="text-sm font-medium mx-3">View All Activity <i
                                class="pi pi-arrow-right"></i></span>
                    </div>
                </div>
            </div>

            <!-- My Post -->
            <div class="card mb-3 border-noround">
                <div class="card-container px-4 pt-4 pb-3">
                    <div class="flex mt-2">
                        <div class="max-w-max mr-3"><img class="profile-pic"
                                src="../../../assets/images/photo_member.png" alt=""></div>
                        <div class="w-full">
                            <h6 class="mb-1 text-black">Nathan Alexander</h6>
                            <span class="text-sm">20/22/12</span>
                        </div>
                        <div class="inline-block justify-content-end">
                            <div class="flex align-items-center text-900 cursor-pointer hover:bg-gray-100"
                                pStyleClass="@next" enterClass="hidden" leaveToClass="hidden"
                                [hideOnOutsideClick]="true">
                                <div
                                    class="cursor-pointer hover:bg-gray-100 transition-all transition-duration-200 px-3 py-2">
                                    <i class="pi pi-ellipsis-v"></i>
                                </div>
                            </div>
                            <div class="absolute right-0 py-1 shadow-2 w-12rem bg-white hidden">
                                <ul class="list-none p-0 m-0">
                                    <li>
                                        <a class="block px-3 pt-2 pb-2 no-underline text-black-alpha-60 hover:bg-gray-100 transition-all transition-duration-200 cursor-pointer"
                                            routerLink="/profile/edit-post/:id">
                                            <span class="font-medium">Edit Post</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block px-3 pt-2 pb-2 no-underline text-black-alpha-60 hover:bg-gray-100 transition-all transition-duration-200 cursor-pointer"
                                            (click)="clickConfirmDelete()">
                                            <span class="font-medium">Delete Post</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="text-gray-800">9 Projects You Can Do to Become a Front-End Master in 2023</h5>
                        <p class="text-sm custom-text-overlay">Whether you're new to programming or already an
                            experienced developer in this
                            industry, learning new concepts and languages/frameworks ismandatory to keep up with
                            the rapid changes.
                            Take, for example, React — open-sourced by Facebook just a shy four years ago, it's
                            already become the number one choice for JavaScript devs around the globe.
                            Vue and Angular, of course, also have their legitimate follower base.
                        </p>
                    </div>
                    <div class="mt-3 flex flex-wrap gap-2">
                        <img src="../../../assets/images/post_1.png" alt="" class="img-post mr-3">
                        <img src="../../../assets/images/post_1.png" alt="" class="img-post mr-3">
                        <img src="../../../assets/images/post_1.png" alt="" class="img-post mr-3">
                    </div>

                    <div class="grid mt-2">
                        <div class="col-6 text-sm">8 Likes</div>
                        <div class="col-6 text-end text-sm">6 Comments</div>
                    </div>
                    <div class="grid border-top-1 border-gray-300 pt-2">
                        <button pButton label="Like" icon="pi pi-thumbs-up" class="p-button-text btn-sec" *ngIf="like"
                            (click)="clickLike()"></button>
                        <button pButton label="Like" icon="pi pi-thumbs-up-fill" class="p-button-text" *ngIf="likeFill"
                            (click)="clickUnLike()"></button>

                        <button pButton label="Save" icon="pi pi-bookmark" class="p-button-text btn-sec"
                            *ngIf="bookmark" (click)="clickSave()"></button>
                        <button pButton label="Save" icon="pi pi-bookmark-fill" class="p-button-text"
                            *ngIf="bookmarkFill" (click)="clickUnSave()"></button>

                        <button pButton label="Comment" icon="pi pi-comment" class="p-button-text btn-sec"
                            (click)="clickCommentPost()"></button>
                    </div>

                    <div *ngIf="commentPost">
                        <div class="grid mt-2">
                            <div class="col-1">
                                <img class="border-circle w-10" src="../../../assets/images/photo_member.png" alt="">
                            </div>
                            <div class="col-11">
                                <textarea pInputTextarea [autoResize]="true" class="w-full p-inputtextarea-sm"
                                    placeholder="Add a comment..."></textarea>
                            </div>
                        </div>
                        <div>
                            <span class="text-sm cursor-pointer hover:text-blue-500" *ngIf="viewComment"
                                (click)="clickMoreComment()">
                                View Comments
                            </span>
                            <span class="text-sm cursor-pointer hover:text-blue-500" *ngIf="hideComment"
                                (click)="clickCloseComment()">
                                Close Comments
                            </span>
                        </div>

                        <div *ngIf="allComment">
                            <div class="grid mt-3">
                                <div class="col-1">
                                    <img class="border-circle w-10" src="../../../assets/images/photo_member.png"
                                        alt="">
                                </div>
                                <div class="card col-11">
                                    <div class="px-2">
                                        <p class="font-medium mb-0">Name</p>
                                        <span class="text-xs">2020/10/10</span>
                                    </div>
                                    <div class="px-2 mt-2">
                                        <p class="text-sm mb-1">I sure hope people are not going to Dribbble to find
                                            solutions for UX
                                            challenges. You just won't find anything there.</p>
                                    </div>
                                </div>
                                <div class="col-offset-1">
                                    <span class="text-sm cursor-pointer hover:text-blue-500" *ngIf="replyComment"
                                        (click)="clickReplyComment()">Reply</span>
                                </div>
                            </div>

                            <!-- Reply Message -->
                            <div class="grid col-offset-1 mt-2" *ngIf="showReplyComment">
                                <div class="col-1">
                                    <img class="border-circle w-10" src="../../../assets/images/photo_member.png"
                                        alt="">
                                </div>
                                <div class="col-11">
                                    <textarea pInputTextarea [autoResize]="true" class="w-full p-inputtextarea-sm"
                                        placeholder="Add a comment..."></textarea>
                                </div>
                            </div>

                            <div class="grid col-offset-1 mt-2">
                                <div class="col-1">
                                    <img class="border-circle w-10" src="../../../assets/images/photo_member.png"
                                        alt="">
                                </div>
                                <div class="card col-11">
                                    <div class="px-2">
                                        <p class="font-medium mb-0">Name</p>
                                        <span class="text-xs">2020/10/10</span>
                                    </div>
                                    <div class="px-2 mt-2">
                                        <p class="text-sm mb-1">I sure hope people are not going to Dribbble to find
                                            solutions for UX
                                            challenges. You just won't find anything there.</p>
                                    </div>
                                </div>
                                <div class="col-offset-1">
                                    <span class="text-sm cursor-pointer hover:text-blue-500">Reply</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 border-noround">
                <div class="card-container px-4 pt-4 pb-3">
                    <div class="mt-2">
                        <div class="inline-flex mr-3"><img class="profile-pic"
                                src="../../../assets/images/photo_member.png" alt=""></div>
                        <div class="inline-block">
                            <h6 class="mb-1 text-black">Nathan Alexander</h6>
                            <span class="text-sm">20/22/12</span>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="text-gray-800">9 Projects You Can Do to Become a Front-End Master in 2023</h5>
                        <p class="text-sm custom-text-overlay">Whether you're new to programming or already an
                            experienced developer in this
                            industry, learning new concepts and languages/frameworks ismandatory to keep up with
                            the rapid changes.
                            Take, for example, React — open-sourced by Facebook just a shy four years ago, it's
                            already become the number one choice for JavaScript devs around the globe.
                            Vue and Angular, of course, also have their legitimate follower base.
                        </p>
                    </div>

                    <!-- Polling -->
                    <div class="mt-3">
                        <div class="card p-4 border-none bg-gray-50">
                            <h6 class="mb-4">9 Projects You Can Do to Become </h6>
                            <button pButton class="p-button-outlined p-button-sm mb-2" type="button"
                                label="Option 1"></button>
                            <button pButton class="p-button-outlined p-button-sm mb-2" type="button"
                                label="Option 2"></button>
                            <button pButton class="p-button-outlined p-button-sm mb-2" type="button"
                                label="Option 3"></button>

                            <div class="mt-2">
                                <span class="text-sm mr-3">12 Votes</span>
                                <span class="text-end text-sm">Until 5 Day</span>
                            </div>
                        </div>
                    </div>


                    <div class="grid mt-2">
                        <div class="col-6 text-sm">8 Likes</div>
                        <div class="col-6 text-end text-sm">6 Comments</div>
                    </div>
                    <div class="grid border-top-1 border-gray-300 pt-2">
                        <button pButton label="Like" icon="pi pi-thumbs-up" class="p-button-text btn-sec" *ngIf="like"
                            (click)="clickLike()"></button>
                        <button pButton label="Like" icon="pi pi-thumbs-up-fill" class="p-button-text" *ngIf="likeFill"
                            (click)="clickUnLike()"></button>

                        <button pButton label="Save" icon="pi pi-bookmark" class="p-button-text btn-sec"
                            *ngIf="bookmark" (click)="clickSave()"></button>
                        <button pButton label="Save" icon="pi pi-bookmark-fill" class="p-button-text"
                            *ngIf="bookmarkFill" (click)="clickUnSave()"></button>

                        <button pButton label="Comment" icon="pi pi-comment" class="p-button-text btn-sec"
                            (click)="clickCommentPost()"></button>
                    </div>

                    <div *ngIf="commentPost">
                        <div class="grid mt-2">
                            <div class="col-1">
                                <img class="border-circle w-10" src="../../../assets/images/photo_member.png" alt="">
                            </div>
                            <div class="col-11">
                                <textarea pInputTextarea [autoResize]="true" class="w-full p-inputtextarea-sm"
                                    placeholder="Add a comment..."></textarea>
                            </div>
                        </div>
                        <div>
                            <span class="text-sm cursor-pointer hover:text-blue-500" *ngIf="viewComment"
                                (click)="clickMoreComment()">
                                View Comments
                            </span>
                            <span class="text-sm cursor-pointer hover:text-blue-500" *ngIf="hideComment"
                                (click)="clickCloseComment()">
                                Close Comments
                            </span>
                        </div>

                        <div *ngIf="allComment">
                            <div class="grid mt-3">
                                <div class="col-1">
                                    <img class="border-circle w-10" src="../../../assets/images/photo_member.png"
                                        alt="">
                                </div>
                                <div class="card col-11">
                                    <div class="px-2">
                                        <p class="font-medium mb-0">Name</p>
                                        <span class="text-xs">2020/10/10</span>
                                    </div>
                                    <div class="px-2 mt-2">
                                        <p class="text-sm mb-1">I sure hope people are not going to Dribbble to find
                                            solutions for UX
                                            challenges. You just won't find anything there.</p>
                                    </div>
                                </div>
                                <div class="col-offset-1">
                                    <span class="text-sm cursor-pointer hover:text-blue-500" *ngIf="replyComment"
                                        (click)="clickReplyComment()">Reply</span>
                                </div>
                            </div>

                            <!-- Reply Message -->
                            <div class="grid col-offset-1 mt-2" *ngIf="showReplyComment">
                                <div class="col-1">
                                    <img class="border-circle w-10" src="../../../assets/images/photo_member.png"
                                        alt="">
                                </div>
                                <div class="col-11">
                                    <textarea pInputTextarea [autoResize]="true" class="w-full p-inputtextarea-sm"
                                        placeholder="Add a comment..."></textarea>
                                </div>
                            </div>

                            <div class="grid col-offset-1 mt-2">
                                <div class="col-1">
                                    <img class="border-circle w-10" src="../../../assets/images/photo_member.png"
                                        alt="">
                                </div>
                                <div class="card col-11">
                                    <div class="px-2">
                                        <p class="font-medium mb-0">Name</p>
                                        <span class="text-xs">2020/10/10</span>
                                    </div>
                                    <div class="px-2 mt-2">
                                        <p class="text-sm mb-1">I sure hope people are not going to Dribbble to find
                                            solutions for UX
                                            challenges. You just won't find anything there.</p>
                                    </div>
                                </div>
                                <div class="col-offset-1">
                                    <span class="text-sm cursor-pointer hover:text-blue-500">Reply</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog [style]="{width: '45vw'}" key="positionDialog" rejectButtonStyleClass="p-button-secondary p-button-sm"
    acceptButtonStyleClass="p-button-danger p-button-sm"></p-confirmDialog>