<div class="container" infinite-scroll (scrolled)="onScroll()">
    <div class="grid mt-3">

        <!-- Left Page -->
        <div class="lg:col-4 col-12">
            <div class="card border-none mt-3 sticky top-0">
                <div class="container">
                    <div class="grid">
                        <div class="col-12 mt-4">
                            <div class="text-center">
                                <img src={{fileLink}}{{myFileId}} class="w-8rem h-8rem border-circle mb-3"
                                    style="object-fit: cover" alt="img">
                            </div>
                            <div class="mt-3 text-center">
                                <p class="font-semibold">{{ myUser.fullname }}</p>
                                <p class="text-xs -mt-2">{{ myUser.email }}</p>
                                <p class="text-sm -mt-2">{{ myUser.positionName }} <span>at</span> {{ myUser.company }}</p>
                            </div>
                        </div>

                        <!-- Action -->
                        <div class="col-12 flex gap-3 text-center justify-content-center">
                            <button pButton type="button" class="py-2 px-4" (click)="clickEditProfile()"
                                label="Edit Profile"></button>
                            <button pButton type="button" class="py-2 px-4" (click)="clickChangePassword()"
                                label="Change Password"></button>
                        </div>

                        <!-- Income -->
                        <div class="col-12 bg-green-100 mt-3 mb-1">
                            <div class="grid justify-content-center">
                                <div class="col-12 text-center">
                                    <i class="pi pi-wallet mr-1"></i><span class="text-sm font-semi-bold">Total
                                        Income</span>
                                </div>
                                <div class="col-12 text-center -mt-3">
                                    <span class="font-bold ">IDR {{ totalIncome }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Page -->
        <div class="lg:col-8 col-12">
            <!-- My Activity -->
            <div class="card border-none mt-3 mb-3">
                <div class="container p-0">
                    <div class="grid mx-3">
                        <div class="col-12 mt-4">
                            <span class="text-xl font-semibold">My Activity</span>
                        </div>
                        <div class="col-12">
                            <span class="text-sm font-medium">Total Course : {{ totalCourse }}</span>
                        </div>
                        <div class="col-12 -mt-3">
                            <span class="text-sm font-medium">Total Event : {{ totalEvent }}</span>
                        </div>
                    </div>
                    <div class="col-12 text-center border-top-1 border-100 cursor-pointer hover:bg-blue-50"
                        routerLink="/my-activity">
                        <span class="text-sm font-medium mx-3">View All Activity <i
                                class="pi pi-arrow-right"></i></span>
                    </div>
                </div>
            </div>

            <!-- My Post -->
            <div class="card border-none" *ngIf="dataEmpty">
                <div class="flex justify-content-center">
                    <img src="../../../assets/images/empty_ilustration.png" class="w-12rem p-5" alt="empty state">
                </div>
                <div class="text-center mb-6">
                    <h6>It's empty in here</h6>
                    <p class="text-sm">Share a post to get started</p>
                </div>
            </div>
            <ng-container *ngFor="let data of result; index as i">
                <div class="card border-none mb-3" *ngIf="dataNotEmpty">
                    <div class="card-container p-3 md:p-4">
                        <div class="flex mt-2">
                            <div class="max-w-max mr-3"><img class="border-circle w-3rem h-3rem"
                                    style="object-fit: cover" src="{{fileLink}}{{data.fileId}}" alt="profile-picture">
                            </div>
                            <div class="w-full">
                                <h6>{{data.creatorName}}</h6>
                                <small>{{data.createdAt | timeAgo}}</small>
                            </div>
                            <div class="w-full text-end">
                                <span
                                    class="px-1 font-medium bg-red-50 text-red-500 text-xs mr-1 border-round-md pb-1">{{data.company}}
                                </span>
                                <span
                                    class="px-1 font-medium bg-yellow-50 text-yellow-500 border-round-md text-xs pb-1">
                                    {{data.positionName}}</span>
                            </div>
                            <div class="inline-block justify-content-end">
                                <div class="flex align-items-center text-900 cursor-pointer hover:bg-gray-100"
                                    pStyleClass="@next" enterClass="hidden" leaveToClass="hidden"
                                    [hideOnOutsideClick]="true">
                                    <div
                                        class="cursor-pointer hover:bg-gray-100 transition-all transition-duration-200 px-3 py-2">
                                        <i class="pi pi-ellipsis-v"></i>
                                    </div>
                                </div>
                                <div class="absolute right-0 py-1 shadow-2 w-12rem bg-white hidden">
                                    <ul class="list-none p-0 m-0">
                                        <li>
                                            <a class="block px-3 pt-2 pb-2 no-underline text-black-alpha-60 hover:bg-gray-100 transition-all transition-duration-200 cursor-pointer"
                                                routerLink="/profile/edit-post/{{data.id}}">
                                                <span class="font-medium">Edit Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="block px-3 pt-2 pb-2 no-underline text-black-alpha-60 hover:bg-gray-100 transition-all transition-duration-200 cursor-pointer"
                                                (click)="clickConfirmDelete(i)">
                                                <span class="font-medium">Delete Post</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ng-container *ngIf="data.postTypeCode == premiumPostCode;">
                                <div class="text-end">
                                    <li class="pi pi-star-fill text-yellow-500" style="font-size: 25px"></li>
                                </div>
                            </ng-container>
                        </div>
                        <div class="mt-4">
                            <p class="text-lg font-semibold mb-1">{{data.postTitle}}</p>
                        </div>
                        <ng-container
                            *ngIf="data.postTypeCode == premiumPostCode && myUser.isPremium==false; else contentRegular">
                            <div class="w-full" style="filter: blur(2px)">
                                <p>{{data.postContent}}</p>
                            </div>
                        </ng-container>
                        <ng-template #contentRegular>
                            <div class="w-full">
                                <p>{{data.postContent}}</p>
                            </div>
                        </ng-template>

                        <div class="mt-3">
                            <div class="flex w-full column-gap-1 cursor-pointer">
                                <ng-container *ngIf="pollPostCode!=data.postTypeCode; else elsePoll">
                                    <ng-container
                                        *ngIf="data.postTypeCode == premiumPostCode && myUser.isPremium==false; else attacmentRegular">
                                        <div class="flex w-full column-gap-1 cursor-pointer" style="filter: blur(12px)">
                                            <p-galleria [value]="data.attachmentPostDatas" [(visible)]="data.showImg"
                                                [(activeIndex)]="activeIndex" [containerStyle]="{'max-width': '850px'}"
                                                [numVisible]="7" [circular]="true" [fullScreen]="true"
                                                [showItemNavigators]="true" [showThumbnails]="true"
                                                [baseZIndex]="100000">
                                                <ng-template pTemplate="item" let-item>
                                                    <img src={{fileLink}}{{item.fileId}}
                                                        style="width: 100%; display: block;" />
                                                </ng-template>
                                                <ng-template pTemplate="thumbnail" let-item>
                                                    <div class="grid grid-nogutter justify-content-center">
                                                        <img src={{fileLink}}{{item.fileId}}
                                                            style="width: 100%; display: block;" />
                                                    </div>
                                                </ng-template>
                                            </p-galleria>

                                            <ng-container *ngFor="let attach of data.attachmentPostDatas ; index as j">
                                                <ng-container *ngIf="data.attachmentPostDatas.length == 1">
                                                    <img src={{fileLink}}{{attach.fileId}} alt="image"
                                                        class="w-full h-15rem cursor-pointer"
                                                        style="object-fit: contain" (click)="imageClick(i,j)" />
                                                </ng-container>

                                                <ng-container *ngIf="data.attachmentPostDatas.length == 2">
                                                    <div class="w-full flex">
                                                        <img src={{fileLink}}{{attach.fileId}} alt="image"
                                                            class="w-full h-15rem cursor-pointer"
                                                            style="object-fit: contain" (click)="imageClick(i,j)" />
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="data.attachmentPostDatas.length == 3">
                                                    <div class="w-full flex">
                                                        <img src={{fileLink}}{{attach.fileId}} alt="image"
                                                            class="w-full h-12rem cursor-pointer"
                                                            style="object-fit: contain" (click)="imageClick(i,j)" />
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="data.attachmentPostDatas.length > 3">
                                                    <ng-container *ngIf="j == 3; else elsePict">
                                                        <div
                                                            class="w-full flex justify-content-center align-content-center h-15rem overflow-hidden pb-1 relative">
                                                            <img src={{fileLink}}{{attach.fileId}} alt="image"
                                                                class="h-auto cursor-pointer" style="object-fit: cover"
                                                                (click)="imageClick(i,j)" />
                                                            <div class="absolute w-full h-full bg-black-alpha-90 opacity-80 flex justify-content-center align-items-center"
                                                                (click)="imageClick(i,j)">
                                                                <h1 class="text-white">
                                                                    {{data.attachmentPostDatas.length -3}} +
                                                                </h1>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                    <ng-template #elsePict>
                                                        <div *ngIf=" j<=3"
                                                            class="w-full flex justify-content-center align-content-center h-15rem overflow-hidden pb-1 relative">
                                                            <img src={{fileLink}}{{attach.fileId}} alt="image"
                                                                class="h-auto cursor-pointer" style="object-fit: cover"
                                                                (click)="imageClick(i,j)" />
                                                        </div>
                                                    </ng-template>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                    <ng-template #attacmentRegular>
                                        <div class="flex w-full column-gap-1 cursor-pointer">
                                            <p-galleria [value]="data.attachmentPostDatas" [(visible)]="data.showImg"
                                                [(activeIndex)]="activeIndex" [containerStyle]="{'max-width': '850px'}"
                                                [numVisible]="7" [circular]="true" [fullScreen]="true"
                                                [showItemNavigators]="true" [showThumbnails]="false"
                                                [baseZIndex]="100000">
                                                <ng-template pTemplate="item" let-item>
                                                    <img src={{fileLink}}{{item.fileId}}
                                                        style="height: 100vh; width: fit-content; object-fit: fill; display: block;" />
                                                </ng-template>
                                            </p-galleria>

                                            <ng-container *ngFor="let attach of data.attachmentPostDatas ; index as j">
                                                <ng-container *ngIf="data.attachmentPostDatas.length == 1">
                                                    <img src={{fileLink}}{{attach.fileId}} alt="image"
                                                        class="w-full h-15rem cursor-pointer"
                                                        style="object-fit: contain" (click)="imageClick(i,j)" />
                                                </ng-container>

                                                <ng-container *ngIf="data.attachmentPostDatas.length == 2">
                                                    <div class="w-full flex">
                                                        <img src={{fileLink}}{{attach.fileId}} alt="image"
                                                            class="w-full h-15rem cursor-pointer"
                                                            style="object-fit: contain" (click)="imageClick(i,j)" />
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="data.attachmentPostDatas.length == 3">
                                                    <div class="w-full flex">
                                                        <img src={{fileLink}}{{attach.fileId}} alt="image"
                                                            class="w-full h-12rem cursor-pointer"
                                                            style="object-fit: contain" (click)="imageClick(i,j)" />
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="data.attachmentPostDatas.length > 3">
                                                    <ng-container *ngIf="j == 3; else elsePict">
                                                        <div
                                                            class="w-full flex justify-content-center align-content-center h-10rem overflow-hidden pb-1 relative">
                                                            <img src={{fileLink}}{{attach.fileId}} alt="image"
                                                                class="h-auto cursor-pointer" style="object-fit: cover"
                                                                (click)="imageClick(i,j)" />
                                                            <div class="absolute w-full h-full bg-black-alpha-90 opacity-80 flex justify-content-center align-items-center"
                                                                (click)="imageClick(i,j)">
                                                                <h1 class="text-white">
                                                                    {{data.attachmentPostDatas.length -3}} +
                                                                </h1>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                    <ng-template #elsePict>
                                                        <div *ngIf=" j<=3"
                                                            class="w-full flex justify-content-center align-content-center h-10rem overflow-hidden pb-1 relative">
                                                            <img src={{fileLink}}{{attach.fileId}} alt="image"
                                                                class="h-auto cursor-pointer" style="object-fit: cover"
                                                                (click)="imageClick(i,j)" />
                                                        </div>
                                                    </ng-template>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </ng-template>
                                </ng-container>
                            </div>

                            <ng-template #elsePoll>
                                <div class="mt-3 w-full">
                                    <div class="card p-4 border-none bg-gray-50">
                                        <h6 class="mb-4">{{data.pollData.pollTitle}}</h6>
                                        <ng-container *ngIf="data.pollData.isVoted; else notVoted">
                                            <ng-container
                                                *ngFor="let poll of data.pollData.pollOptionDatas; index as pollIndex">
                                                <ng-container *ngIf="poll.isVoted; else optionNotVoted">
                                                    <button pButton class="p-button-sm mb-2" type="button"
                                                        label={{poll.pollContent}} [disabled]="true"></button>
                                                </ng-container>
                                                <ng-template #optionNotVoted>
                                                    <button pButton class="p-button-outlined p-button-sm mb-2"
                                                        type="button" label={{poll.pollContent}}
                                                        [disabled]="true"></button>
                                                </ng-template>
                                            </ng-container>
                                        </ng-container>
                                        <ng-template #notVoted>
                                            <!-- <ng-container
                                                *ngFor="let poll of data.pollData.pollOptionDatas; index as pollIndex">
                                                <button pButton class="p-button-outlined p-button-sm mb-2"
                                                    type="button" label={{poll.pollContent}}
                                                    (click)="clickVote(i,pollIndex)"></button>
                                            </ng-container> -->
                                        </ng-template>
                                        <div class="mt-2">
                                            <span class="text-sm mr-3">{{data.pollData.countVote}} votes</span>
                                            <span class="text-end text-sm">Until 5 Day</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>

                        <div class="grid mt-2">
                            <div class="col-6">{{data.countLike}} Likes</div>
                            <div class="col-6 text-end text-sm">{{data.countComment}} Comments</div>
                        </div>
                        <div class="grid border-top-1 border-gray-300 pt-2">
                            <ng-container *ngIf="data.isLiked ;else elseBlock">
                                <div class="px-3 py-3 hover:bg-blue-50 flex align-items-center cursor-pointer"
                                    (click)="clickUnLike(i)">
                                    <span class="font-semibold color-primary text-sm"><i
                                            class="pi pi-thumbs-up-fill"></i> Like</span>
                                </div>

                            </ng-container>
                            <ng-template #elseBlock>
                                <div class="px-3 py-3 hover:bg-blue-50 flex align-items-center border-round-md cursor-pointer"
                                    (click)="clickLike(i)">
                                    <span class="font-semibold"><i class="pi pi-thumbs-up"></i> Like</span>
                                </div>
                            </ng-template>

                            <ng-container *ngIf="data.isBookmarked; else notBookmarked">
                                <div class="px-3 py-3 hover:bg-blue-50 flex align-items-center cursor-pointer"
                                    (click)="clickUnSave(i)">
                                    <span class="font-semibold color-primary"><i class="pi pi-bookmark-fill"></i>
                                        Save</span>
                                </div>
                            </ng-container>
                            <ng-template #notBookmarked>
                                <div class="px-3 py-3 hover:bg-blue-50 flex align-items-center cursor-pointer"
                                    (click)="clickSave(i)">
                                    <span class="font-semibold"><i class="pi pi-bookmark"></i> Save</span>
                                </div>

                            </ng-template>
                            <div class="px-3 py-3 hover:bg-blue-50 flex align-items-center cursor-pointer"
                                (click)="clickCommentPost(i)">
                                <span class="font-semibold"><i class="pi pi-comment"></i> Comment</span>
                            </div>
                        </div>
                        <div *ngIf="data.commentStatus">
                            <div class="flex mt-2">
                                <div class="max-w-max mr-3"><img src="{{fileLink}}{{myFileId}}"
                                        class="border-circle w-3rem h-3rem" style="object-fit: cover"
                                        alt="profile picture">
                                </div>
                                <div class="w-full">
                                    <form [formGroup]="commentForm" (ngSubmit)="submitcomment(i)">
                                        <div class="flex flex-row align-content-center">
                                            <textarea pInputTextarea [autoResize]="true"
                                                class="w-full p-inputtextarea-sm pb-0 text-sm"
                                                placeholder="Add a comment..."
                                                formControlName="commentContent"></textarea>
                                            <p-button type="submit" class="ml-2">Send</p-button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="my-3">
                                <span class="text-sm cursor-pointer hover:text-blue-500" *ngIf="data.moreComment==false"
                                    (click)="clickSeeComment(i)">
                                    View Comments
                                </span>
                                <span class="text-sm cursor-pointer hover:text-blue-500" *ngIf="data.moreComment"
                                    (click)="clickCloseComment(i)">
                                    Close Comments
                                </span>
                            </div>

                            <div *ngIf="data.moreComment">
                                <ng-container *ngFor="let comment of data.commentDatas">
                                    <div class="flex mt-2">
                                        <div class="max-w-max mr-3"> <img class="border-circle w-2rem h-2rem"
                                                style="object-fit: cover" src="{{fileLink}}{{comment.fileId}}" alt="">
                                        </div>
                                        <div class="bg-gray-50 border-round-md py-1">
                                            <div class="px-3">
                                                <p class="font-medium text-sm mb-0">{{comment.userName}}
                                                </p>
                                                <span class="text-xs">{{comment.createdAt |
                                                    timeAgo}}</span>
                                            </div>
                                            <div class="px-3 mt-2">
                                                <p class="text-sm mb-1">{{comment.commentContent}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <span class="text-sm cursor-pointer hover:text-blue-500 mt-2"
                                    *ngIf="data.showMoreComment" (click)="seeMoreComment(i)">
                                    See More...
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>




<p-confirmDialog [style]="{width: '45vw'}" key="positionDialog" rejectButtonStyleClass="p-button-secondary p-button-sm"
    acceptButtonStyleClass="p-button-danger p-button-sm"></p-confirmDialog>