.custom-text-overlay {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-btn {
    background-color: #1089FF !important;
}

.active {
    color: #1089FF !important;
    font-weight: 500;
}