
<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-lg-3 col-md-4">
          <div class="card h-100">
            <img src="../../../assets/images/banner1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">UI/UX Design: Beginner</h5>
              <p class="card-text mt-3"><i class="pi pi-users"></i> Provider</p>
              <p class="card-text -mt-2"><i class="pi pi-map-marker"></i> Location</p>
              <p class="card-text -mt-2"><i class="pi pi-calendar"></i> Date</p>
              <p class="card-text -mt-2"><i class="pi pi-clock"></i> Time</p>
              <div class="fee text-end">
                <h5>Rp 50.000</h5>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>