<div class="container">
    <div class="card col-12 mt-5">
        <h3 class="text-center text-3xl mt-4">New Activity</h3>
        <form class="formgrid grid mx-4 md:mx-6 my-5">
            <div class="field col-12 md:col-6">
                <label for="activityTitle">Title<span class="text-red-500">*</span></label>
                <input pInputText class="w-full" type="text" id="activityTitle" name="activityTitle"
                    formControlName="activityTitle" required>
            </div>
            <div class="field col-12 md:col-6">
                <label for="provider">Provider<span class="text-red-500">*</span></label>
                <input pInputText class="w-full" type="text" id="provider" name="provider"
                    formControlName="provider" required>
            </div>
            <div class="field col-12 md:col-6">
                <label for="location">Location<span class="text-red-500">*</span></label>
                <input pInputText class="w-full" type="text" id="location" name="location"
                    formControlName="location" required>
            </div>
            <div class="field col-12 md:col-6">
                <label for="location">Location<span class="text-red-500">*</span></label>
                <input pInputText class="w-full" type="text" id="location" name="location"
                    formControlName="location" required>
            </div>

            <div class="field col-12 md:col-6">
                <label for="range">Select Date<span class="text-red-500">*</span></label>
                <p-calendar selectionMode="range" [readonlyInput]="true" inputId="range" styleClass="w-full"></p-calendar>
            </div>
            <div class="field col-12 md:col-6">
                <label for="currency-indonesia">Fee<span class="text-red-500">*</span></label>
                <p-inputNumber mode="currency" currency="IDR" inputId="currency-indonesia" name="currency-indonesia" styleClass="w-full"></p-inputNumber>
            </div>

            <div class="field col-12">
                <label for="image">Upload Image</label>
                <p-fileUpload url="./upload.php" accept="image/*" [customUpload]="true" [auto]="true"></p-fileUpload>
            </div>

            <div class="grid col-12 mt-4">
                <div class="col-6">
                    <button pButton class="p-button-outlined" type="button" id="btnCancelActivity" name="btnCancelActivity"
                    routerLink="/activities">Back</button>                
                </div>
                <div class="col-6 text-end">
                    <button pButton type="submit" id="btnSubmitActivity" name="btnSubmitActivity">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>