
<div class="container">
    <div class="grid mt-3">
        <div class="md:col-3 col-12">
            <menu-profile></menu-profile>
        </div>
        <div class="md:col-9 col-12">
            <p class="text-sm font-semibold ml-3 text-teal-800"><i class="pi pi-pencil"></i> Edit Profile</p>
            
            <!-- Profile Detail -->
            <div class="card mt-3">
                <div class="container">
                    <div class="mt-4 text-center">
                        <img src="../../../../assets/images/photo_member.png" class="w-7rem border-circle mb-3" alt="profile pic super-admin">
                     </div>
                     <!-- Change Photo -->
                     <div class="text-center">
                        <p-fileUpload #fubauto mode="basic" url="./upload.php" accept="image/*" [auto]="true" chooseLabel="Upload New Picture"></p-fileUpload>
                     </div>

                    <div class="mx-6">
                        <form class="formgrid grid" [formGroup]="userUpdateForm" (ngSubmit)="clickUpdate()">
                            <div class="field col-12">
                                <label for="fullName">Full Name<span class="text-red-500">*</span></label>
                                <input pInputText class="w-full" type="text" id="fullName" name="fullName" formControlName="fullname" required>
                            </div>
                            <div class="field col-12">
                                <label for="email">Email</label>
                                <input pInputText class="w-full" type="email" id="email" name="email" value={{userUpdateForm.value.email}} disabled>
                            </div>
                            <div class="field col-12">
                                <label for="company">Company<span class="text-red-500">*</span></label>
                                <input pInputText class="w-full" type="text" id="company" name="company" formControlName="company" required>
                            </div>
                            <div class="field col-12">
                                <label for="industryName">Industry<span class="text-red-500">*</span></label>
                                <p-dropdown [options]="industries" styleClass="w-full" optionLabel="name" optionValue="id" name="industryName"
                                    id="industryName" placeholder="Select an Industry" formControlName="industryId">
                                </p-dropdown>
                            </div>
                            <div class="field col-12">
                                <label for="positionName">Position<span class="text-red-500">*</span></label>
                                <p-dropdown [options]="positions" styleClass="w-full p-dropdown-sm" optionLabel="name" optionValue="id" name="positionName"
                                    id="positionName" placeholder="Select Position" formControlName="positionId">
                                </p-dropdown>
                            </div>
                            <div class="field col-12 flex flex-row gap-2 mt-2 mb-4 justify-content-end">
                                <button pButton class="p-button-outlined" type="button" id="btnBackToProfileSuperAdmin" name="btnBackToProfileSuperAdmin" routerLink="/profile">Cancel</button>            
                                <button pButton type="submit" id="btnSaveChange" name="btnSaveChange">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>