<div class="container">
    <div class="grid mt-3">
        <div class="col-12">
            <span class="cursor-pointer" (click)="clickBack()"><i class="pi pi-angle-left"></i>Back to Profile</span>
        </div>
        <div class="md:col-3 col-12 hidden md:block">
            <menu-profile></menu-profile>
        </div>
        <div class="md:col-9 col-12">
            <!-- Edit Profile -->
            <div class="card mt-3">
                <div class="container">
                    <div class="col-12 text-center">
                        <h4 class="mx-4 my-3">Edit Profile</h4>
                    </div>

                    <div class="grid justify-content-center">
                        <div class="col-12 text-center" *ngIf="userLoading">
                            <img src="{{fileLink}}{{fileId}}" class="w-6rem h-6rem border-circle mb-3"
                                style="object-fit: cover" alt="profile pic super-admin">
                        </div>
                        <div class="col-12">
                            <!-- Change Photo -->
                            <div class="mx-2 lg:mx-6">
                                <p-fileUpload url="./upload.php" accept="image/*" [customUpload]="true"
                                    (uploadHandler)="fileUpload($event)" [auto]="true" chooseLabel="Upload New Picture">
                                </p-fileUpload>
                            </div>
                        </div>
                    </div>

                    <div class="mx-2 lg:mx-6" *ngIf="userLoading">
                        <form class="formgrid grid" [formGroup]="userUpdateForm" (ngSubmit)="clickUpdate()">
                            <div class="field col-12">
                                <label for="fullName">Full Name<span class="text-red-500">*</span></label>
                                <input pInputText class="w-full" type="text" id="fullName" name="fullName"
                                    formControlName="fullname" required>
                                <small class="p-error"
                                    *ngIf="userUpdateForm.controls['fullname'].errors?.['required'] && userUpdateForm.controls['fullname'].touched">
                                    Please input your name
                                </small>
                            </div>
                            <div class="field col-12">
                                <label for="email">Email</label>
                                <input pInputText class="w-full" type="email" id="email" name="email"
                                    value={{userRes.email}} disabled>
                            </div>
                            <div class="field col-12">
                                <label for="company">Company<span class="text-red-500">*</span></label>
                                <input pInputText class="w-full" type="text" id="company" name="company"
                                    formControlName="company" required>
                                <small class="p-error"
                                    *ngIf="userUpdateForm.controls['company'].errors?.['required'] && userUpdateForm.controls['company'].touched">
                                    Please input company name
                                </small>
                            </div>
                            <div class="field col-12">
                                <label for="industryName">Industry<span class="text-red-500">*</span></label>
                                <p-dropdown [options]="industries" styleClass="w-full" optionLabel="industryName"
                                    optionValue="id" name="industryName" id="industryName"
                                    placeholder="Select an Industry" formControlName="industryId">
                                </p-dropdown>
                                <small class="p-error"
                                    *ngIf="userUpdateForm.controls['industryId'].errors?.['required'] && userUpdateForm.controls['industryId'].touched">
                                    Please select your industry
                                </small>
                            </div>
                            <div class="field col-12">
                                <label for="positionName">Position<span class="text-red-500">*</span></label>
                                <p-dropdown [options]="positions" styleClass="w-full p-dropdown-sm"
                                    optionLabel="positionName" optionValue="id" name="positionName" id="positionName"
                                    placeholder="Select Position" formControlName="positionId">
                                </p-dropdown>
                                <small class="p-error"
                                    *ngIf="userUpdateForm.controls['positionId'].errors?.['required'] && userUpdateForm.controls['positionId'].touched">
                                    Please select your position
                                </small>
                            </div>
                            <div class="field col-12 mt-2 mb-4 flex justify-content-end">
                                <button pButton type="submit" id="btnSaveChange" name="btnSaveChange"
                                    label="Save Change" class="px-4"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>