

<div class="container mt-5">
    <div class="grid">
        <div class="col-8">
            <div class="card box mb-3">
                <div class="card-container md:px-4">
                    <div class="grid pt-4 pb-2">
                        <div class="col-1">
                            <img class="profile-pic" src="../../../assets/images/photo_member.png" alt="">
                        </div>
                        <div class="col-7">
                            <button pButton class="p-button-rounded p-button-outlined p-button-sm w-full">Start a Post</button>
                        </div>
                    </div>
                    <div class="grid mt-2 pb-4 gap-6">
                        <div class="">
                            <h6>Photo</h6>
                        </div>
                        <div class="">
                            <h6>Polling</h6>
                        </div>
                        <div class="">
                            <h6>Event</h6>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="card box mb-3">
                <div class="card-container md:p-4">
                    <div class="">
                        <div class="inline-flex mr-3"><img class="profile-pic" src="../../../assets/images/photo_member.png" alt=""></div>
                        <div class="inline-block">
                            <h6>Nathan Alexander</h6>
                            <small>20/22/12</small>
                        </div>
                    </div>
                    <div class="mt-4">
                        <h4>9 Projects You Can Do to Become a Front-End Master in 2023</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4 bg-red-800">
    
        </div>
    </div>
</div>