<div class="container mt-4" infinite-scroll (scrolled)="onScroll()">
  <p-tabView (onChange)="tabClick()">
    <p-tabPanel header="All Course">
      <div class="container mt-3 p-0">
        <div class="grid">
          <ng-container *ngFor="let data of dataCourses; index as i">
            <div class="col-12 md:col-6 lg:col-4">
              <div class="card h-100">
                <div class="card-img flex justify-content-center">
                  <p-image src={{fileLink}}{{data.attachmentActivityDatas[0].fileId}} imageClass="h-15rem w-full"
                    alt="activity-banner" [preview]="true">
                  </p-image>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{data.activityTitle}}</h5>
                  <p class="card-text mt-3"><i class="pi pi-users"></i> {{data.provider}}</p>
                  <p class="card-text -mt-2"><i class="pi pi-map-marker"></i> {{data.activityLocation}}</p>
                  <p class="card-text -mt-2"><i class="pi pi-calendar"></i>
                    <span> {{data.startAt | date:'HH:mm dd-MM-yyyy'}} ~</span>
                    <span> {{data.endAt | date:'HH:mm dd-MM-yyyy'}}</span>
                  </p>
                  <p class="card-text text-medium -mt-2">
                    <li class="pi pi-money-bill"></li>
                    <span> Rp {{data.fee}}</span>
                  </p>
                  <div>
                    <button pButton type="button" class="p-button-sm w-full py-2" label="Register"
                      routerLink="/payment/activity/{{data.id}}"></button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="All Event">
      <div class="container mt-3 p-0">
        <div class="grid">
          <ng-container *ngFor="let data of dataEvents; index as i">
            <div class="col-12 md:col-6 lg:col-4">
              <div class="card h-100">
                  <div class="card-img flex justify-content-center">
                    <p-image src={{fileLink}}{{data.attachmentActivityDatas[0].fileId}} imageClass="h-15rem w-full" alt="activity-banner"
                    [preview]="true"></p-image>
                  </div>
                <div class="card-body">
                  <h5 class="card-title">{{data.activityTitle}}</h5>
                  <p class="card-text mt-3"><i class="pi pi-users"></i> {{data.provider}}</p>
                  <p class="card-text -mt-2"><i class="pi pi-map-marker"></i> {{data.activityLocation}}</p>
                  <p class="card-text -mt-2"><i class="pi pi-calendar"></i>
                    <span> {{data.startAt | date:'HH:mm dd-MM-yyyy'}} ~</span>
                    <span> {{data.endAt | date:'HH:mm dd-MM-yyyy'}}</span>
                  </p>
                  <p class="card-text text-medium -mt-2">
                    <li class="pi pi-money-bill"></li>
                    <span> Rp {{data.fee}}</span>
                  </p>
                  <div>
                    <button pButton type="button" class="p-button-sm w-full py-2" label="Register"
                      routerLink="/payment/activity/{{data.id}}"></button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </p-tabPanel>

    <!-- Joined Course -->
    <p-tabPanel header="Joined Course">
      <div class="container mt-3 p-0">
        <div class="grid">
          <ng-container *ngFor="let data of dataJoinedCourses; index as i">
            <div class="col-12 md:col-6 lg:col-4">
              <div class="card h-100">
                <div class="card-img flex justify-content-center">
                  <p-image src={{fileLink}}{{data.attachmentActivityDatas[0].fileId}} imageClass="h-15rem w-full" alt="activity-banner"
                [preview]=" true"></p-image>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{data.activityTitle}}</h5>
                  <p class="card-text mt-3"><i class="pi pi-users"></i> {{data.provider}}</p>
                  <p class="card-text -mt-2"><i class="pi pi-map-marker"></i> {{data.activityLocation}}</p>
                  <p class="card-text -mt-2"><i class="pi pi-calendar"></i>
                    <span> {{data.startAt | date:'HH:mm dd-MM-yyyy'}} ~</span>
                    <span> {{data.endAt | date:'HH:mm dd-MM-yyyy'}}</span>
                  </p>
                  <p class="card-text text-medium -mt-2">
                    <li class="pi pi-money-bill"></li>
                    <span> Rp {{data.fee}}</span>
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Joined Event">
      <div class="container mt-3 p-0">
        <div class="grid">
          <ng-container *ngFor="let data of dataJoinedEvents; index as i">
            <div class="col-12 md:col-6 lg:col-4">
              <div class="card h-100">
                  <div class="card-img flex justify-content-center">
                    <p-image src={{fileLink}}{{data.attachmentActivityDatas[0].fileId}} imageClass="h-15rem w-full" alt="activity-banner"
                  [preview]=" true"></p-image>
                  </div>
                <div class="card-body">
                  <h5 class="card-title">{{data.activityTitle}}</h5>
                  <p class="card-text mt-3"><i class="pi pi-users"></i> {{data.provider}}</p>
                  <p class="card-text -mt-2"><i class="pi pi-map-marker"></i> {{data.activityLocation}}</p>
                  <p class="card-text -mt-2"><i class="pi pi-calendar"></i>
                    <span> {{data.startAt | date:'HH:mm dd-MM-yyyy'}} ~</span>
                    <span> {{data.endAt | date:'HH:mm dd-MM-yyyy'}}</span>
                  </p>
                  <p class="card-text text-medium -mt-2">
                    <li class="pi pi-money-bill"></li>
                    <span> Rp {{data.fee}}</span>
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>