
<div class="container">

    <div class="mt-5">
        <p-tabView>
            <!-- List Course -->
            <p-tabPanel header="All Course">
                <div class="container mt-4">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col-lg-3 col-md-4">
                          <div class="card h-100 click">
                            <img src="../../../assets/images/banner1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">UI/UX Design: Beginner</h5>
                              <p class="card-text text-sm mt-3"><i class="pi pi-users"></i> Provider</p>
                              <p class="card-text text-sm -mt-2"><i class="pi pi-map-marker"></i> Location</p>
                              <p class="card-text text-sm -mt-2"><i class="pi pi-calendar"></i>
                                <span> 12/10/2022 |</span>
                                <span> 12/10/2022</span>
                              </p>
                              <p class="card-text text-medium -mt-2">
                                <li class="pi pi-money-bill"></li>
                                <span> Rp 50.000</span>
                              </p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>

            <!-- List Event -->
            <p-tabPanel header="All Event">
              
            </p-tabPanel>

              <!--Schedule  -->
            <p-tabPanel header="My Schedule">

            </p-tabPanel>

        </p-tabView>
    </div>
</div>