<div class="container mt-5" infinite-scroll (scrolled)="onScroll()">
  <p-tabView (onChange)="tabClick($event)">

    <p-tabPanel header="All Course">
      <div class="container mt-3 p-0">
        <div class="card border-none" *ngIf="dataEmptyCourse">
          <div class="flex justify-content-center">
            <img src="../../../assets/images/empty_ilustration.png" class="w-12rem p-5" alt="empty state">
          </div>
          <div class="text-center mb-6">
            <h6>It's empty here</h6>
            <p class="text-sm">Available course that you join will be displayed here</p>
          </div>
        </div>
        <div class="grid">
          <ng-container *ngFor="let data of dataCourses; index as i">
            <div class="col-12 md:col-6 lg:col-4">
              <div class="card h-100">
                <div class="card-img flex justify-content-center">
                  <p-image src={{fileLink}}{{data.attachmentActivityDatas[0].fileId}} imageClass="h-15rem w-full"
                    alt="activity-banner" [preview]="true">
                  </p-image>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{data.activityTitle}}</h5>
                  <p class="card-text mt-3"><i class="pi pi-users"></i> {{data.provider}}</p>
                  <p class="card-text -mt-2"><i class="pi pi-map-marker"></i> {{data.activityLocation}}</p>
                  <p class="card-text -mt-2"><i class="pi pi-calendar"></i>
                    <span> {{data.startAt | date:'HH:mm dd-MM-yyyy'}} ~</span>
                    <span> {{data.endAt | date:'HH:mm dd-MM-yyyy'}}</span>
                  </p>
                  <p class="card-text text-medium -mt-2">
                    <span>
                      <li class="pi pi-money-bill"></li> {{data.fee | currency:'IDR ':'symbol':'3.0'}}
                    </span>
                  </p>
                  <p class="card-text -mt-2"><i class="pi pi-clock"></i> Payment Status : {{data.paymentStatus}}</p>
                </div>
                <div class="card-footer text-end bg-white border-top-none pb-3">
                  <button pButton type="button" class="p-button-sm w-full py-2" label="Register"
                    routerLink="/payment/activity/{{data.id}}" [disabled]="data.isJoined || (id == data.createdBy)">
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="All Event">
      <div class="container mt-3 p-0">
        <div class="card border-none" *ngIf="dataEmptyEvent">
          <div class="flex justify-content-center">
            <img src="../../../assets/images/empty_ilustration.png" class="w-12rem p-5" alt="empty state">
          </div>
          <div class="text-center mb-6">
            <h6>It's empty here</h6>
            <p class="text-sm">Available event that you join will be displayed here</p>
          </div>
        </div>
        <div class="grid">
          <ng-container *ngFor="let data of dataEvents; index as i">
            <div class="col-12 md:col-6 lg:col-4">
              <div class="card h-100">
                <div class="card-img flex justify-content-center">
                  <p-image src={{fileLink}}{{data.attachmentActivityDatas[0].fileId}} imageClass="h-15rem w-full"
                    alt="activity-banner" [preview]="true"></p-image>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{data.activityTitle}}</h5>
                  <p class="card-text mt-3"><i class="pi pi-users"></i> {{data.provider}}</p>
                  <p class="card-text -mt-2"><i class="pi pi-map-marker"></i> {{data.activityLocation}}</p>
                  <p class="card-text -mt-2"><i class="pi pi-calendar"></i>
                    <span> {{data.startAt | date:'HH:mm dd-MM-yyyy'}} ~</span>
                    <span> {{data.endAt | date:'HH:mm dd-MM-yyyy'}}</span>
                  </p>
                  <p class="card-text text-medium -mt-2">
                    <span>
                      <li class="pi pi-money-bill"></li> {{data.fee | currency:'IDR ':'symbol':'3.0'}}
                    </span>
                  </p>
                  <p class="card-text -mt-2"><i class="pi pi-clock"></i> Payment Status : {{data.paymentStatus}}</p>
                </div>
                <div class="card-footer text-end bg-white border-top-none pb-3">
                  <button pButton type="button" class="p-button-sm w-full py-2" label="Register"
                    routerLink="/payment/activity/{{data.id}}"
                    [disabled]="data.isJoined || (id == data.createdBy)"></button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </p-tabPanel>

    <!-- Joined Course -->
    <p-tabPanel header="Joined Course">
      <div class="container mt-3 p-0">
        <div class="card border-none" *ngIf="dataEmptyJoinedCourse">
          <div class="flex justify-content-center">
            <img src="../../../assets/images/empty_ilustration.png" class="w-12rem p-5" alt="empty state">
          </div>
          <div class="text-center mb-6">
            <h6>It's empty here</h6>
            <p class="text-sm">Course that you join will be displayed here</p>
          </div>
        </div>
        <div class="grid">
          <ng-container *ngFor="let data of dataJoinedCourses; index as i">
            <div class="col-12 md:col-6 lg:col-4">
              <div class="card h-100">
                <div class="card-img flex justify-content-center">
                  <p-image src={{fileLink}}{{data.attachmentActivityDatas[0].fileId}} imageClass="h-15rem w-full"
                    alt="activity-banner" [preview]=" true"></p-image>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{data.activityTitle}}</h5>
                  <p class="card-text mt-3"><i class="pi pi-users"></i> {{data.provider}}</p>
                  <p class="card-text -mt-2"><i class="pi pi-map-marker"></i> {{data.activityLocation}}</p>
                  <p class="card-text -mt-2"><i class="pi pi-calendar"></i>
                    <span> {{data.startAt | date:'HH:mm dd-MM-yyyy'}} ~</span>
                    <span> {{data.endAt | date:'HH:mm dd-MM-yyyy'}}</span>
                  </p>
                  <p class="card-text text-medium -mt-2">
                    <span>
                      <li class="pi pi-money-bill"></li> {{data.fee | currency:'IDR ':'symbol':'3.0'}}
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Joined Event">
      <div class="container mt-3 p-0">
        <div class="card border-none" *ngIf="dataEmptyJoinedEvent">
          <div class="flex justify-content-center">
            <img src="../../../assets/images/empty_ilustration.png" class="w-12rem p-5" alt="empty state">
          </div>
          <div class="text-center mb-6">
            <h6>It's empty here</h6>
            <p class="text-sm">Event that you join will be displayed here</p>
          </div>
        </div>
        <div class="grid">
          <ng-container *ngFor="let data of dataJoinedEvents; index as i">
            <div class="col-12 md:col-6 lg:col-4">
              <div class="card h-100">
                <div class="card-img flex justify-content-center">
                  <p-image src={{fileLink}}{{data.attachmentActivityDatas[0].fileId}} imageClass="h-15rem w-full"
                    alt="activity-banner" [preview]=" true"></p-image>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{data.activityTitle}}</h5>
                  <p class="card-text mt-3"><i class="pi pi-users"></i> {{data.provider}}</p>
                  <p class="card-text -mt-2"><i class="pi pi-map-marker"></i> {{data.activityLocation}}</p>
                  <p class="card-text -mt-2"><i class="pi pi-calendar"></i>
                    <span> {{data.startAt | date:'HH:mm dd-MM-yyyy'}} ~</span>
                    <span> {{data.endAt | date:'HH:mm dd-MM-yyyy'}}</span>
                  </p>
                  <p class="card-text text-medium -mt-2">
                    <span>
                      <li class="pi pi-money-bill"></li> {{data.fee | currency:'IDR ':'symbol':'3.0'}}
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>