
<div class="container">
    <h2 class="my-4">List Of Articles</h2>
    <div class="my-3">
        <button pButton class="p-button-sm btn-custom" type="button" id="insertPosition" name="insertPosition" routerLink="/articles/new"><span><i class="pi pi-plus" style="font-size: 12px"></i> New</span></button>
    </div>

    <p-table [value]="articles" [paginator]="true" [rows]="rows" [(first)]="first" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" paginatorPosition="both">
        <ng-template pTemplate="header">
            <tr>
                <th class="custom-align">No</th>
                <th>Title</th>
                <th>Content</th>
                <th class="custom-align">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-article>
            <tr>
                <td class="custom-align">{{article.no}}</td>
                <td>{{article.title}}</td>
                <td>{{article.content}}</td>
                <td class="custom-align">
                    <button pButton type="button" class="p-button-text" pTooltip="Update" routerLink="/articles/edit/:id"><i class="pi pi-file-edit"></i></button>
                    <button pButton type="button" class="p-button-text text-red-500" pTooltip="Delete" (click)="clickConfirmDelete('top')"><i class="pi pi-trash"></i></button>
                </td>
            </tr>
        </ng-template>
    </p-table> 
</div>
<p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="position"></p-confirmDialog>
