
<div class="container">
    <div class="card mt-4 border-none flex align-items-center p-5">

        <div class="" *ngIf="upgradePremiumStep1">
            <div class="mt-4 text-center">
                <h3>Upgrade Premium</h3>
                <img src="../../../assets/images/subscribe_ilustration.png" alt="subsribe ilustration" class="mt-4 custom-img">
            </div>
            <div class="col-12 mt-4">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, modi!</p>
                <div class="card p-5 bg-yellow-500">
                    <h4 class="color-green">Pay Once. User Forever !</h4>
                    <h4 class="">RP. 500.000</h4>
                </div>
                <div class="mt-3">
                    <button pButton type="button" class="p-button-sm w-full" label="Upgrade Now" (click)="clickUpgrade()"></button>
                    <button pButton type="button" class="p-button-sm p-button-outlined w-full mt-2" label="Cancel"></button>
                </div>
            </div>
        </div>

        <!-- Payment Details -->
        <div *ngIf="upgradePremiumStep2">
            <h3>Payment Details</h3>

            <div class="card p-3">
                <p>Account Number : 09876800</p>
                <p>Name : Zenith</p>
                <p>Bank : Mandiri</p>
            </div>

            <p-divider></p-divider>

            <p>Total</p>
            <h4>Rp. 500.000</h4>
            <button pButton type="button" class="p-button-sm w-full" label="Pay Now" (click)="clickCheckout()"></button>
        </div>

        <!-- Confirmation Payment -->
        <div class="text-center" *ngIf="upgradePremiumStep3">
            <h3>Payment Confirmation</h3>

            <div class="mt-3">
                <p class="text-sm text-center">Upload your proof of payment for confirmation. </p>
            </div>

            <!-- Upload Image -->
            <div class="mt-2">
                <p-fileUpload #fubauto mode="basic" url="./upload.php" accept="image/*" [auto]="true" chooseLabel="Browser"></p-fileUpload>
            </div>

            <div class="mt-3">
                <button pButton type="button" class="p-button-sm w-full" label="Confirmation" (click)="clickConfirmPayment()"></button>
            </div>
        </div>

        <!-- Confirm -->
        <div class="text-center" *ngIf="upgradePremiumStep4">
            <h3>Thank You</h3>
            <div class="mt-2 text-center">
                <img src="../../../assets/images/subscribe_ilustration.png" alt="subsribe ilustration" class="mt-4 custom-img">
            </div>

            <div class="mt-3">
                <p class="text-sm text-center">Upload your proof of payment for confirmation. </p>
            </div>

            <div class="mt-3">
                <button pButton type="button" class="p-button-sm w-full" label="Back To Home" routerLink="/feed"></button>
            </div>
        </div>
    </div>
</div>