.click {
    cursor: pointer;
}

.card-img>img {
    height: 180px;
    object-fit: cover;
}

/* .card-img {
    height: 80px;
    width: 80px;
    object-fit: cover;
} */

/* :host ::ng-deep .ui-panel-images {
    width: 50%;
    height: 50%;
    object-fit: contain;
} */

.img-content {
    height: 400px;
    object-fit: cover;
}

.detail>img {
    height: 380px;
    object-fit: cover;
}

.img-box {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
    background-color: #f2f2f2;
    padding: 0;
}

.custom-btn {
    background-color: #1089FF !important;
}

.custom-text-overlay {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-activity-img {
    background-color: aquamarine;
    height: 300px;
    object-fit: cover;
}