.click {
    cursor: pointer;
}



:host ::ng-deep .customProgressBar .p-progressbar-value-animate {
    background: #FF1010 !important;
}

.active {
    color: #1089FF !important;
    font-weight: 500;
}

.bg-color {
    background-color: #1089FF;
}

.card-img>img {
    height: 180px;
    object-fit: cover;
}

.color-primary {
    color: #1089FF;
}

.card-img {
    background-color: #ecf5ff;
}

.custom-img {
    width: 100% !important;
    height: 180px !important;
    object-fit: cover !important;
}

.img-content {
    height: 400px;
    object-fit: cover;
}

.detail>img {
    height: 380px;
    object-fit: cover;
}

.img-box {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
    /* background-color: #f2f2f2; */
    background-color: #E9F3FF;
    padding: 0;
}

.custom-btn {
    background-color: #1089FF !important;
}

.custom-text-overlay {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-activity-img {
    height: 300px;
    object-fit: cover;
}

:host ::ng-deep .ui-progressbar .ui-progressbar-label {
    color: yellow !important;
}

:host ::ng-deep .ui-progressbar .ui-progressbar-value {
    background: lightgreen !important;
}