

<div class="container">
    <div class="card bg-white col-12 lg:col-8 lg:col-offset-2 md:col-10 md:col-offset-1 mt-5">
            <h3 class="text-center text-3xl mt-4">Insert Industry</h3>
            <form class="formgrid grid mx-4 md:mx-6 my-5" [formGroup]="industryForm" (ngSubmit)="clickSubmit()">
            <div class="field col-12 md:col-6">
                <label for="industryCode">Industry Code<span class="text-red-500">*</span></label>
                <input pInputText class="w-full" type="text" id="industryCode" name="industryCode" formControlName="industryCode" maxlength="5" required>
            </div>
            <div class="field col-12 md:col-6">
                <label for="industryName">Industry Name<span class="text-red-500">*</span></label>
                <input pInputText class="w-full" type="text" id="industryName" name="industryName" formControlName="industryName" required>
            </div>
            <div class="field col-12 flex flex-row gap-2 mt-2">
                <button pButton class="p-button-outlined" type="button" id="btnCancelIndustry" name="btnCancelIndustry" routerLink="/industries/list">Back</button>
                <button pButton type="submit" id="btnSubmitIndustry" name="btnSubmitIndustry">Submit</button>
            </div>
        </form>
    </div>
</div>