<div class="container">
    <div class="card flex align-items-center p-5 mt-4">
        <div class="text-center mt-2">
            <h3 class="text-3xl">Change Password</h3>
        </div>
        <div class="md:col-6 col-12 mt-3">
            <form class="formgrid grid mt-2">
                <div class="field col-12">
                    <label for="curentPassword">Current Password<span class="text-red-500">*</span></label>
                    <p-password id="curentPassword" name="curentPassword" type="password" styleClass="w-full"
                        [inputStyle]="{'width':'100%','height':'45px'}" [toggleMask]="true" required
                        formControlName="oldPassword"></p-password>
                </div>

                <div class="field col-12">
                    <label for="newPassword">New Password<span class="text-red-500">*</span></label>
                    <p-password id="newPassword" name="newPassword" type="password" styleClass="w-full"
                        [inputStyle]="{'width':'100%','height':'45px'}" [toggleMask]="true" required
                        formControlName="newPassword"></p-password>
                </div>
                <div class="field col-12">
                    <label for="confirmNewPassword">Confirm New Password<span class="text-red-500">*</span></label>
                    <p-password id="confirmNewPassword" name="confirmNewPassword" type="password" styleClass="w-full"
                        [inputStyle]="{'width':'100%','height':'45px'}" [toggleMask]="true" required
                        formControlName="confirmPassword"></p-password>
                </div>
                <div class="field col-12 mt-3">
                    <div class="grid">
                        <div class="col-6">
                            <button pButton class="p-button-outlined p-button-sm" type="button" id="btnBackToProfileSuperAdmin" name="btnBackToProfileSuperAdmin" *ngIf="backToProfileSuperAdmin" routerLink="/super-admin/profiles/view">Back</button>
                            <button pButton class="p-button-outlined p-button-sm" type="button" id="btnBackToProfileAdmin" name="btnBackToProfileAdmin" *ngIf="backToProfileAdmin" routerLink="/admin/profiles/view">Back</button>
                        </div>
                        <div class="col-6 text-end">
                            <button pButton class="p-button-sm" type="submit" id="btnSavePassword" name="btnSavePassword">Save Change</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>