<div class="container-fluid bg-blue-500" style="height: 200px ;">
    <div class="p-8 text-center text-white">
        <h3>Discover New Knowledge Everyday</h3>
    </div>
</div>


<div class="container mt-5">
    <div>
        <h3 class="mb-4">Latest Article</h3>
    </div>
    <div class="card h-100" role="button" routerLink="/article/details/:id">
        <div class="card-body">
          <h5 class="card-title">Rencanakan Karir Startegi Sukses Menghadapi Era Revolusi</h5>
          <p class="card-text">Dalam menghadapi Revolusi Industri 4.0, persaingan di dunia kerja semakin ketat. Hal ini dapat dilihat dengan semakin banyaknya tenaga kerja yang digantikan oleh mesin atau robot. </p>
        </div>
    </div>
    <div class="card h-100 mt-3">
        <div class="card-body">
          <h5 class="card-title">Rencanakan Karir Startegi Sukses Menghadapi Era Revolusi</h5>
          <p class="card-text">Dalam menghadapi Revolusi Industri 4.0, persaingan di dunia kerja semakin ketat. Hal ini dapat dilihat dengan semakin banyaknya tenaga kerja yang digantikan oleh mesin atau robot. </p>
        </div>
    </div>
</div>