<div class="container-fluid bg-blue-500">
    <div class="text-center w-full py-5 text-white">
        <h2>Welcome</h2>
        <p>{{myName}}</p>
    </div>
</div>

<div class="container">
    <div class="grid justify-content-center mt-6 text-white gap-2">
        <div class="card col-12 md:col-3 bg-purple-500 text-center border-round">
            <p>Total Member User</p>
            <h1 class="text-4xl">{{totalMember}}</h1>
        </div>
        <div class="card col-12 md:col-3 bg-red-500 text-center border-round">
            <p>Total Admin User</p>
            <h1 class="text-4xl">{{totalAdmin}}</h1>
        </div>
        <div class="card col-12 md:col-3 bg-yellow-500 text-center border-round">
            <p>Total Premium User</p>
            <h1 class="text-4xl">{{totalPremium}}</h1>
        </div>
    </div>
</div>