@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

body {
    background-color: #f2f2f2;
    font-family: 'Inter', sans-serif;
}

.custom-btn {
    background-color: #1089FF !important;
}

.custom-text {
    color: #1089FF;
}

.box {
    border-color: rgb(215, 215, 215);
    border-radius: 16px;
}

.profile-pic {
    width: 40px;
    border-radius: 50%;
}