
<div class="container">
    <div class="card flex align-items-center border-none border-round-2xl p-8 mt-4">
        <div class="text-center">
            <img src={{fileLink}}{{fileId}} class="w-8rem border-circle mb-3" alt="profile pic super-admin">
            <h4>Nathan Alexander</h4>
            <h6>UI/UX/Designer</h6>
        </div>
        <div class="flex gap-2 mt-3">

            <button pButton type="button" class="p-button-sm" *ngIf="editProfileSuperAdmin" routerLink="/super-admin/profiles/edit/{{myId}}">Edit Profile</button>
            <button pButton type="button" class="p-button-sm" *ngIf="editProfileAdmin" routerLink="/admin/profiles/edit/{{myId}}">Edit Profile</button>

            <button pButton type="button" class="p-button-sm" *ngIf="changePasswordAdmin" routerLink="/admin/profiles/change-password">Change Password</button>
            <button pButton type="button" class="p-button-sm" *ngIf="changePasswordSuperAdmin" routerLink="/super-admin/profiles/change-password">Change Password</button>

        </div>
    </div>
</div>