<div class="container">
    <div class="mb-3">
        <h5>Latest Article</h5>
    </div>
    <div class="card mb-3">
        <div class="card-img">
            <img src="../../../assets/images/banner1.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Rencanakan Karir Startegi Sukses Menghadapi Era Revolusi</h5>
            <p class="text-sm">Dalam menghadapi Revolusi Industri 4.0, persaingan di dunia kerja semakin ketat. Hal ini dapat dilihat dengan semakin banyaknya tenaga kerja yang digantikan oleh mesin atau robot. 
            </p>
            <p class="mt-3 text-muted text-sm">Posted by <span>Nathan Alexander</span></p>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-img">
            <img src="../../../assets/images/banner1.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Rencanakan Karir Startegi Sukses Menghadapi Era Revolusi</h5>
            <p class="text-sm">Hal ini dapat dilihat dengan semakin banyaknya tenaga kerja yang digantikan oleh mesin atau robot. 
            </p>
            <p class="mt-3 text-muted text-sm">Posted by <span>Nathan Alexander</span></p>
        </div>
    </div>
</div>