<div class="container">
    <div class="mb-3 px-2">
        <h5>Latest Article</h5>
    </div>

    <ng-container *ngFor="let data of data; index as i">
        <div class="col-12">
            <div class="card h-100">
                <img src={{fileLink}}{{data.attachmentArticleDatas[0].fileId}} class="card-img-top max-h-13rem w-full"
                    style="object-fit: cover" alt="article-banner">
                <div class="card-body">
                    <p class="mt-3 text-muted text-sm -mt-1"><span>{{data.fullname}}</span> |
                        <span>{{data.createdAt | timeAgo}}</span>
                    </p>
                    <h5 class="card-title custom-text-overlay">{{data.articleTitle}}</h5>
                    <p class="card-text custom-text-overlay">{{data.articleContent}}</p>
                </div>
                <div class="card-footer text-end bg-white border-top-none">
                    <button pButton type="button" class="p-button-text fix-bottom"
                        routerLink="/articles/details/{{data.id}}"> <span>Read more <i class="pi pi-arrow-right"
                                style="font-size: 0.8rem"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </ng-container>
</div>