<div class="container">
    <div class="grid mt-3">
        <div class="col-12">
            <span class="cursor-pointer" (click)="clickBack()"><i class="pi pi-angle-left"></i>Back to Profile</span>
        </div>
        <div class="md:col-3 col-12">
            <menu-profile></menu-profile>
        </div>
        <div class="md:col-9 col-12">
            <div class="card mt-3">
                <div class="container my-2">
                    <div class="col-12 text-center">
                        <h4 class="mx-4 my-3">Change Password</h4>
                    </div>
                    <form class="formgrid grid justify-content-center mt-5" [formGroup]="userUpdateForm"
                        (ngSubmit)="clickUpdate()">
                        <div class="field col-12 md:col-7">
                            <label for="curentPassword">Current Password<span class="text-red-500">*</span></label>
                            <p-password id="curentPassword" name="curentPassword" type="password" styleClass="w-full"
                                [inputStyle]="{'width':'100%','height':'45px'}" [toggleMask]="true" [feedback]="false"
                                required formControlName="oldPassword"></p-password>
                            <small class="p-error"
                                *ngIf="userUpdateForm.controls['oldPassword'].errors?.['required'] && userUpdateForm.controls['oldPassword'].touched">
                                Please input your old password
                            </small>
                        </div>

                        <div class="field col-12 md:col-7">
                            <label for="newPassword">New Password<span class="text-red-500">*</span></label>
                            <p-password id="newPassword" name="newPassword" type="password" styleClass="w-full"
                                [inputStyle]="{'width':'100%','height':'45px'}" [toggleMask]="true" required
                                formControlName="newPassword"></p-password>
                            <small class="p-error"
                                *ngIf="userUpdateForm.controls['newPassword'].errors?.['required'] && userUpdateForm.controls['newPassword'].touched">
                                Please input your new password
                            </small>
                        </div>
                        <div class="field col-12 md:col-7">
                            <label for="confirmNewPassword">Confirm New Password<span
                                    class="text-red-500">*</span></label>
                            <p-password id="confirmNewPassword" name="confirmNewPassword" type="password"
                                styleClass="w-full" [inputStyle]="{'width':'100%','height':'45px'}" [toggleMask]="true"
                                required [feedback]="false" formControlName="confirmPassword"></p-password>
                            <small class="p-error"
                                *ngIf="userUpdateForm.controls['confirmPassword'].errors?.['required'] && userUpdateForm.controls['confirmPassword'].touched">
                                Please re-enter your password
                            </small>
                            <small class="p-error"
                                *ngIf="userUpdateForm.value.newPassword != userUpdateForm.value.confirmPassword && userUpdateForm.controls['confirmPassword'].touched">
                                Password didn't match
                            </small>
                        </div>
                        <div class="field ccol-12 md:col-7 flex flex-row gap-2 justify-content-end mt-2">
                            <button pButton class="p-button-sm" type="submit" id="btnSavePassword"
                                name="btnSavePassword">Save Change</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>