<div class="grid h-screen w-full">
    <div class="col-5 hidden lg:block">
        <div class="flex align-content-center justify-content-center flex-wrap h-screen box-side">
            <p-image src="../../../assets/ilustrasi sign-up.png" alt="Image" width="400"></p-image>
        </div>
    </div>
    
    <div class="col-12 lg:col-7 bg-white flex align-content-center justify-content-center flex-wrap" *ngIf="signUp">
        <div class="col-7">
            <h2 class="text-center">Sign-Up</h2>
            <form class="mt-4 mb-5">
                <div class="field">
                    <label for="fullName">Full Name<span class="text-red-500">*</span></label>
                    <input pInputText id="fullName" name="fullName" type="text" class="w-full p-inputtext-sm" required>
                </div>
                <div class="field mt-4">
                    <label for="email">Email<span class="text-red-500">*</span></label>
                    <input pInputText id="email" name="email" type="email" class="w-full p-inputtext-sm" required>
                </div>
                <div class="field mt-4">
                    <label for="password">Password<span class="text-red-500">*</span></label>
                    <input pInputText id="password" name="password" type="password" class="w-full p-inputtext-sm" required>
                </div>
                <div class="mt-4">
                    <button pButton class="w-full justify-content-center p-button-sm custom-btn" type="button" id="btnLogin" name="btnLogin" (click)=" clickSignUp()">Next</button>
                </div>
            </form>
            <div class="mb-4">
                <button class="p-button-text w-full justify-content-center mt-2 border-none bg-white p-button-sm" type="button" id="btnStudentLogin" name="btnStudentLogin">Have an account? <span class="font-semibold custom-text" routerLink="/login">Login</span></button>
            </div>
        </div>
    </div>
    
    <div class="col-12 lg:col-7 bg-white flex align-content-center justify-content-center flex-wrap" *ngIf="accountDtl">
        <div class="col-7">
            <h2 class="text-center">Account Detail</h2>
            <form class="mt-4 mb-5">
                <div class="field mt-4">
                    <label for="companyName">Company<span class="text-red-500">*</span></label>
                    <input pInputText id="companyName" name="companyName" type="text" class="w-full p-inputtext-sm" required>
                </div>
                <div class="field">
                     <label for="industryName">Industry<span class="text-red-500">*</span></label>
                    <p-dropdown [options]="industries" styleClass="w-full" optionLabel="name" name="industryName" id="industryName"></p-dropdown>
                </div>
                <div class="field">
                    <label for="positionName">Position<span class="text-red-500">*</span></label>
                   <p-dropdown [options]="positions" styleClass="w-full" optionLabel="name" name="positionName" id="positionName"></p-dropdown>
                </div>
                <div class="mt-4">
                    <button pButton class="w-full justify-content-center p-button-sm custom-btn" type="button" id="btnAccountDetail" name="btnAccountDetail" (click)="clickAccountDtl()">Next</button>
                </div>
            </form>
            <div class="mb-4">
                <button class="p-button-text w-full justify-content-center mt-2 border-none bg-white p-button-sm" type="button" name="btnStudentLogin">Have an account? <span class="font-semibold custom-text" routerLink="/login">Login</span></button>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-7 bg-white flex align-content-center justify-content-center flex-wrap" *ngIf="verification">
        <div class="col-7">
            <div class="text-center">
                <h2>Verification</h2>
            <small>We have send a verification code  to your email Please check your e-mail and type code here</small>
            </div>
            <form class="mt-4 mb-5 mx-6">
                <div class="field mt-4">
                    <input pInputText id="verificationCode" name="verificationCode" type="text" class="w-full p-inputtext-sm" required>
                </div>
                <div class="mt-4 text-center">
                    <button pButton class="w-full justify-content-center p-button-sm custom-btn" type="button" id="btnVerify" name="btnVerify">Verify</button>
                </div>
            </form>
            <div class="mb-4">
                <button class="p-button-text w-full justify-content-center mt-2 border-none bg-white p-button-sm" type="button" name="btnStudentLogin">Have an account? <span class="font-semibold custom-text" routerLink="/login">Login</span></button>
            </div>
        </div>
    </div>
</div>