
<div class="container">
    <div class="grid mt-3">
        <div class="md:col-3 col-12">
            <menu-profile></menu-profile>
        </div>
        <div class="md:col-9 col-12">
            <p class="text-sm font-semibold ml-3 text-teal-800"><i class="pi pi-pencil"></i> Detail Profile</p>
            
            <!-- Profile Detail -->
            <div class="card mt-3" *ngIf="profileDetail">
                <div class="container mx-4 my-3">
                    <div class="grid">
                        <div class="col-12">
                            <div class="mt-2">
                                <p class="font-medium">Detail Profile</p>
                            </div>
                            <div class="text-center">
                                <img src="../../../../assets/images/photo_member.png" alt="" class="border-circle img-box">
                            </div>
                            <div class="mt-3 text-center">
                                <p class="font-semibold">Nathan Alexander</p>
                                <p class="text-sm -mt-2">nathanalexander@gmail.com</p>
                                <p class="-mt-2">Manager <span>at</span> Lawencon</p>
                            </div>
                        </div>

                        <!-- Action -->
                        <div class="col-12">
                            <div class="grid justify-content-center">
                                <div class="md:col-2 col-6">
                                <button pButton pRipple type="submit"
                                    class="p-button-sm w-full text-small"
                                    styleClass="p-button-sm text-center" label="Edit Profile" (click)="clickEditProfile()"></button>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>