<nav class="navbar navbar-expand-lg bg-white">
    <div class="container">
        <button class="navbar-toggler border-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand"><img src="../../../assets/images/zenith_logo.png" alt="zenith logo" class="w-4rem"></a>
        <div class="collapse navbar-collapse justify-content-start" id="navbarToggler">
            <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active coba" aria-current="page" routerLink="/feed">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/activities">Activity</a>
                </li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/articles">Article</a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item mr-5"><button class="dropdown-item py-2" type="button"
                        routerLink="/payment/premium"><i class="pi pi-star-fill text-xl text-yellow-500"></i> <span *ngIf="!premiumStatus">Upgrade</span>
                        Premium</button>
                </li>
                <li class="lg:hidden">
                    <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        *ngIf="fileLoading">
                        <img src={{fileLink}}{{fileId}} class="w-3rem h-3rem border-circle" style="object-fit: cover"
                            alt="photo member">
                        <i class="pi pi-chevron-down text-xs ml-2"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item px-5 py-2" type="button" routerLink="/profile">View
                                Profile</button></li>
                        <li><button class="dropdown-item px-5 py-2" type="button" routerLink="/my-activity">My
                                Activity</button></li>
                        <li><button class="dropdown-item px-5 py-2 text-danger btnLogout" type="button"
                                (click)="logout()">Logout</button></li>
                    </ul>
                </li>
            </ul>


            <div class="btn-group hidden lg:block">
                <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="fileLoading">
                    <img src={{fileLink}}{{fileId}} class="w-3rem h-3rem border-circle" style="object-fit: cover"
                        alt="photo member">
                    <i class="pi pi-chevron-down text-xs ml-2"></i>
                </a>
                <ul
                    class="dropdown-menu dropdown-menu-lg-end dropdown-menu-md-start dropdown-menu-sm-start dropdown-menu-xs-start">
                    <li><button class="dropdown-item px-5 py-2" type="button" routerLink="/profile">View
                            Profile</button></li>
                    <li><button class="dropdown-item px-5 py-2" type="button" routerLink="/my-activity">My
                            Activity</button></li>
                    <!-- <li><button class="dropdown-item px-5 py-2" type="button" routerLink="/payment/premium"><i
                                class="pi pi-star-fill text-yellow-500"></i> Upgrade
                            Premium</button></li> -->
                    <li><button class="dropdown-item px-5 py-2 text-danger btnLogout" type="button"
                            (click)="logout()">Logout</button></li>
                </ul>
            </div>
        </div>
    </div>
</nav>