<footer class="bg-color mt-6">
    <div class="container w-full text-white">
        <div class="grid py-7 mx-3 md:mx-0">
            <div class="col-12 md:col-6">
                <div class="grid">
                    <div class="col-12 lg:col-2">
                        <img src="../../../assets/images/zenith_logo_white.png" class="w-5rem h-5rem"
                            style="object-fit: cover" alt="zenith-logo">
                    </div>
                    <div class="col-12 lg:col-10">
                        <h2 class="">Zenith</h2>
                        <p class="">By the community, for the community</p>
                    </div>
                </div>
                <div class="mt-2 flex">
                    <a href="https://web.facebook.com/profile.php?id=100081334668718" target="_blank"
                        class="no-underline">
                        <div
                            class="mr-3 h-2rem w-2rem flex justify-content-center align-items-center bg-gray-200 border-circle cursor-pointer hover:bg-white">
                            <i class="fa-brands fa-facebook-f text-2xl"></i>
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/company/pt-lawencon-international/" target="_blank"
                        class="no-underline">
                        <div
                            class="mr-3 h-2rem w-2rem flex justify-content-center align-items-center bg-gray-200 border-circle cursor-pointer hover:bg-white">
                            <i class="fa-brands fa-linkedin-in text-2xl"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 md:col-6 mt-3 md:mt-0">
                <div>
                    <div class="flex">
                        <i class="pi pi-map-marker text-2xl mr-2"></i>
                        <span>
                            Pakuwon Tower 22nd floor,
                            Jl Casablanca Kav 88, Jakarta Selatan,
                            DKI Jakarta 12870
                        </span>
                    </div>
                    <div class="flex mt-2">
                        <i class="pi pi-phone text-2xl mr-2"></i>
                        <span>
                            081-2345-6789
                        </span>
                    </div>
                    <div class="flex mt-3">
                        <i class="fa-regular fa-envelope-open text-2xl mr-2"></i>
                        <span>
                            zenith@gmail.com
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 text-center p-2" style="background-color: #0063bf;">
        <span class="text-muted text-white text-sm">Copyright &copy; 2022 Zenith-All Right Reserved.</span>
    </div>
</footer>