<div class="container">
    <div class="card col-12 mt-5">
        <h3 class="text-center text-3xl mt-4">Update My Activity</h3>
        <form class="formgrid grid mx-4 md:mx-6 my-5" [formGroup]="activityUpdateForm" (ngSubmit)="clickUpdate()">
            <div class="field col-12 md:col-6">
                <label for="activityType">Activity Type</label>
                <p-dropdown [options]="activityTypes" styleClass="w-full" optionLabel="name" optionValue="id"
                    name="activityType" id="activityType" placeholder="Select an Activity Type"
                    formControlName="activityTypeId" [disabled]="disable">
                </p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
                <label for="activityTitle">Title<span class="text-red-500">*</span></label>
                <input pInputText class="w-full" type="text" id="activityTitle" name="activityTitle" required
                    formControlName="activityTitle">
            </div>

            <div class="field col-12 md:col-6">
                <label for="provider">Provider<span class="text-red-500">*</span></label>
                <input pInputText class="w-full" type="text" id="provider" name="provider" required
                    formControlName="provider">
            </div>

            <div class="field col-12 md:col-6">
                <label for="activityLocation">Location<span class="text-red-500">*</span></label>
                <input pInputText class="w-full" type="text" id="activityLocation" name="activityLocation" required
                    formControlName="activityLocation">
            </div>

            <div class="field col-12 md:col-6">
                <label for="startAt">Start At<span class="text-red-500">*</span></label>
                <p-calendar [readonlyInput]="true" inputId="startAt" name="startAt" styleClass="w-full" formControlName="startAt"
                    [showTime]="true" [showIcon]="true" [showButtonBar]="true">
                </p-calendar>
            </div>

            <div class="field col-12 md:col-6">
                <label for="endAt">End At<span class="text-red-500">*</span></label>
                <p-calendar [readonlyInput]="true" inputId="endAt" styleClass="w-full" name="startAt" formControlName="endAt"
                    [showTime]="true" [showIcon]="true" [showButtonBar]="true">
                </p-calendar>
            </div>

            <div class="field col-12 md:col-6">
                <label for="currency-indonesia" class="w-full">Fee<span class="text-red-500">*</span></label>
                <p-inputNumber mode="currency" currency="IDR" inputId="currency-indonesia" name="currency-indonesia"
                    styleClass="w-full" class="w-full" formControlName="fee"></p-inputNumber>
            </div>
            <div class="field-checkbox col-12 md:col-6">
                <p-checkbox formControlName="isActive" [binary]="true" inputId="binary"></p-checkbox>
                <label for="binary">Active</label>
            </div>

            <div class="grid col-12 mt-4">
                <div class="col-6">
                    <button pButton class="p-button-outlined" type="button" id="btnCancelActivity"
                        name="btnCancelActivity" routerLink="/my-activity">Back</button>
                </div>
                <div class="col-6 text-end">
                    <button pButton type="submit" id="btnSubmitActivity" name="btnSubmitActivity">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>