
<div class="grid h-screen w-full">
    <div class="col-5 hidden lg:block">
        <div class=" text-center mt-8">
            <p-image src="../../../assets/images/zenith_logo.png" alt="Image" width="100"></p-image>
        </div>
        <div class="flex align-content-center justify-content-center flex-wrap box-side lg:mt-5">
            <p-image src="../../../assets/images/ilustrasi 1.png" alt="Image" width="400"></p-image>
        </div>
    </div>

    <div class="col-12 lg:col-7 bg-white flex align-content-center justify-content-center flex-wrap">
        <div class="col-7">
            <div class="text-center mb-3 lg:hidden">
                <p-image src="../../../assets/images/zenith_logo.png" alt="Image" width="70"></p-image>
            </div>
            <h2 class="text-center">Login</h2>
            <form class="mt-4 mb-5">
                <div class="field">
                    <label for="email">Email<span class="text-red-500">*</span></label>
                    <input pInputText id="email" name="email" type="text" class="w-full p-inputtext-sm" required>
                </div>
                <div class="field mt-4">
                    <label for="password">Password<span class="text-red-500">*</span></label>
                    <input pInputText id="password" name="password" type="password" class="w-full p-inputtext-sm" required>
                </div>
                <div class="mt-4">
                    <button pButton class="w-full justify-content-center custom-btn" type="button" id="btnLogin" name="btnLogin">Login</button>
                </div>
            </form>
            <div class="mb-4" *ngIf="backToSignUp">
                <button class="p-button-text w-full justify-content-center mt-2 border-none bg-white p-button-sm" type="button" id="btnBackToSignUp" name="btnBackToSignUp">Don't have an account? <span class="font-semibold custom-text" routerLink="/sign-up">Sign Up</span></button>
            </div>
        </div>
    </div>
</div>
