<div class="container">
    <div class="grid">
        <div class="col-12 mt-4">
            <span class="cursor-pointer hover:text-blue-500" (click)="clickBack()"><i class="pi pi-angle-left"></i>Back
                to all Article</span>
        </div>
        <div class="col-12 lg:col-8">
            <!-- title -->
            <h3 class="mt-4">{{title}}</h3>
            <p-divider></p-divider>
            <!-- Author -->
            <p class="mt-3 text-muted -mt-1"><span>{{fullname}}</span> | <span>{{createdAt |
                    date:'dd/MM/yyyy'}}</span></p>
            <img src={{fileLink}}{{fileId}} alt="" class="img-content w-full" style="object-fit: contain">
            <!-- Content -->
            <p class="mt-4">{{articleContent}}</p>
        </div>

        <!-- Side Article -->
        <div class="col-12 lg:col-4 hidden lg:block">
            <div class="sticky top-0">
                <ng-container *ngFor="let data of articles; index as i">
                    <div class="card mb-3">
                        <img src={{fileLink}}{{data.attachmentArticleDatas[0].fileId}}
                            class="card-img-top max-h-13rem w-full" style="object-fit: contain" alt="article picture">
                        <div class="card-body">
                            <p class="mt-3 text-muted text-sm -mt-1"><span>{{data.fullname}}</span> |
                                <span>{{data.createdAt | date:'dd/MM/yyyy'}}</span>
                            </p>
                            <h5 class="card-title">{{data.articleTitle}}</h5>
                            <p class="card-text custom-text-overlay">{{data.articleContent}}</p>
                            <div class="text-end">
                                <button pButton type="button" class="p-button-text"
                                    routerLink="/articles/details/{{data.id}}">
                                    <span>Read more <i class="pi pi-arrow-right" style="font-size: 0.8rem"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>