
<div class="container">
    <h2 class="my-4">List Of Users</h2>
    <div class="my-3">
        <button pButton class="p-button-sm btn-custom" type="button" id="insertUser" name="insertUser" routerLink="/users/new"><span><i class="pi pi-plus" style="font-size: 12px"></i> New</span></button>
    </div>

    <p-table [value]="usersRes.data" [paginator]="true" [rows]="rows" [(first)]="first" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" paginatorPosition="both">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 5%">No</th>
                <th style="width: 15%">Full Name</th>
                <th style="width: 15%">Email</th>
                <th style="width: 10%">Company</th>
                <th style="width: 10%">Industry</th>
                <th style="width: 10%">Position</th>
                <th style="width: 10%">Role</th>
                <th style="width: 10%">Profile Picture</th>
                <th style="width: 15%">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-i="rowIndex">
            <tr>
                <td>{{i+1}}</td>
                <td>{{usersRes.data[i].fullname}}</td>
                <td>{{usersRes.data[i].email}}</td>
                <td>{{usersRes.data[i].company}}</td>
                <td>{{usersRes.data[i].industryName}}</td>
                <td>{{usersRes.data[i].positionName}}</td>
                <td>{{usersRes.data[i].roleName}}</td>
                <td><img class="photoProfile profile-pic" src="{{fileLink}}{{usersRes.data[i].fileId}}" alt="user pic"></td>
                <div *ngIf="usersRes.data[i].isActive; else elseBlock">
                    <td class="flex justify-content-center align-content-center"><i class="pi pi-check-circle text-primary"></i></td>
                </div>
                <ng-template #elseBlock>
                    <td class="flex justify-content-center align-content-center"><i class="pi pi-times text-danger"></i></td>
                </ng-template>
                <td>
                    <div class="flex flex-row">
                        <button pButton type="button" class="p-button-text" pTooltip="Update" routerLink="/users/edit/{{usersRes.data[i].id}}"><i class="pi pi-file-edit"></i></button>
                        <button pButton type="button" class="p-button-text text-red-500" pTooltip="Delete"><i class="pi pi-trash"></i></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table> 
</div>